# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MalagaJam2021.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mjest\Documents\Unity\MalagaJam2021\.idea\.idea.MalagaJam2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
