# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Iluminación.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\mjest\Documents\Unity\MalagaJam2021\Assets\Scripts\Iluminación\.idea\.idea.Iluminación.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
